/*Kapi default colors*/
$redKapi: #B22222;

@font-face {
  font-family: Ubuntu, sans-serif;
  src: url('https://fonts.google.com/specimen/Ubuntu');
}

body{
  margin: 0!important;
}

html{
  font-family: 'Ubuntu', sans-serif;
}
.kapiNav {
  background: linear-gradient(to left, #cc0000 0%, #800000 100%) !important;

  ul a {
    color: lightgray !important;
  }
}



.headerKapi {
  background-color: black;
  color: #fff !important;
  padding: 250px;
  h1{
    font-weight: lighter;
    font-size: 40px;
  }
  span{
    font-size: 12px;
  }

  button{
    background-color: #4CAF50;
    border:1px solid #4CAF50;
    color: #fff;
    padding: 12px;
    border-radius: 3px;
    margin-top: 50px;
    width: 150px;
  }
}

.servicesKapi{
  .services-list {
    display: flex;
    align-items: center;
    justify-content: center;

    .collection {
      width: 400px;
      border: 1px solid #fff !important;
      .collection-item{
        border-bottom:1px solid #fff!important;
      }
    }
  }
}

@media (max-width:600px) {
  .headerKapi {
    padding: 100px;
    h1{

      font-size: 24px;
    }
  }
}

@media (min-width: 601px)and(max-width:768px) {
  .headerKapi {
    padding: 150px;
  }
}

