/*Kapi default colors*/
$redKapi: #B22222;
@font-face {
  font-family: Ubuntu, sans-serif;
  src: url('https://fonts.google.com/specimen/Ubuntu');
}
body{
  margin: 0!important;
}
html{
  font-family: 'Ubuntu', sans-serif;
}
.kapiNav {
  background: linear-gradient(to left, #cc0000 0%, #800000 100%) !important;

  ul a {
    color: lightgray !important;
  }
}

.headerKapi {
  background-color: black;
  color: #fff !important;
  padding: 250px;
  h1{
    font-weight: lighter;
    font-size: 40px;
  }
  span{
    font-size: 12px;
  }

  button{
    background-color: #4CAF50;
    border:1px solid #4CAF50;
    color: #fff;
    padding: 12px;
    border-radius: 3px;
    margin-top: 50px;
    width: 150px;
  }
}

.servicesKapi{
  margin-bottom: 40px;
    .services{
      margin-top: 30px;
      display: flex;
      align-content: center;
      justify-content: center;
      .services-list {
        .row {
          border: 1px solid #fff !important;
          .collection-item {
            border-bottom: 1px solid #fff !important;
            display: inline;
            width: 100%;
            .icon-service{
              width: 8%;
              i {
                font-size: 45px;
                vertical-align: 8px;
              }
              + div{
                margin-left: 25px;
                width: 85%;
              }
            }
            div {
              display: inline-block !important;
              margin-bottom: 20px;
            }
          }
        }
      }
    }
  }

.banner{
  margin-bottom: 40px;
  width: 100%;
  height: 450px;
  border-bottom: 50px solid #4bd478;
  background-image: url("/images/bannerIndex.jpg");
  background-size: 100% 100%;
  text-align: center;
  .content{
    background: rgba(23, 10, 80, 0.4);
    height: 400px;
    .sign-sentence{
      position: relative;
      top: 100px;
      width: 70%;
      margin: 0 auto;
      .sign{
        width: 70px;
        height: 40px;
        border: 4px solid #4bd478;
        text-align: center;
        margin: 0 auto;
        font-size: 50px;
        border-radius: 50%;
        color: #4bd478;
      }
      .sentence{
        font-size: 28px;
        color: #fff!important;
        margin-top: 30px;
        font-style: oblique;
      }
      .author{
        font-size: 17px;
        color: #fff!important;
        margin-top: 60px;
        font-style: oblique;
      }
    }
  }
}

.team{
  .row{
    margin-top: 20px;
    .card{
      text-align: center;
      .card-image img{
        width: 260px;
        height: 280px;
        border-radius: 20%;
      }
      .card-content{
        margin-top: 30px;
        .member-name{
          font-size: 25px;
        }
        .member-ocupation{
          font-size: 18px;
          margin-top: 20px;
        }
        p{
          font-size: 15px;
        }
      }
    }
  }
}

.page-footer{
  background-color:black;
  color: #fff;
  font-weight: bold;
  text-align: center;
  ul .first{
   border: none;
  }
  ul li{
    display: inline;
    padding-right: 10px;
    padding-left: 10px;
    border-left: 1px solid #fff;

      a{
      color: #fff!important;
    }
  }
}



/*Media -- header*/
@media (max-width:600px) {
  .headerKapi {
    padding: 100px;
    h1{

      font-size: 24px;
    }
  }
}
@media (min-width: 601px)and(max-width:768px) {
  .headerKapi {
    padding: 150px;
  }
}

/*Media -- services*/
@media (max-width: 600px){
  .services{
    .services-list{
      .row{
        .collection-item{
          div {
            font-size: 11px !important;
          }
            .icon-service {
              width: 180px!important;
              text-align: center;
              i {
                font-size: 25px !important;
              }
            }
            .icon-service + div{
              margin-left: 0!important;
              overflow-wrap: break-word;
            }
        }
      }
    }
    .img-services{
      text-align:center;
    }
  }
}

@media (min-width: 991px) and (max-width: 1245px) {
  .icon-service{
    width: 6%;
    + div{
      margin-left: 30px!important;
      width: 80% !important;
    }
  }
}